In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#reading the dataset
df = pd.read_csv("C:\\Users\\SANJA\\OneDrive\\Desktop\\Plantomania\\Fertilizer Prediction.csv")
#Changing the columns names
df.rename(columns={'Temparature':'Temparature','Humidity':'Humidity','Soil Type':'Soil_Type','Crop Type':'Crop_Type',
                   'Nitrogen':'Nitrogen','Potassium':'Potassium','Phosphorus':'Phosphorus','Fertilizer Name':'Fertilizer'},inplace=True)

In [5]:
df

,Temparature,Humidity,Moisture,Soil_Type,Crop_Type,Nitrogen,Potassium,Phosphorous,Fertilizer
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19,28-28
95,30,60,27,Red,Tobacco,4,17,17,10-26-26
96,38,72,51,Loamy,Wheat,39,0,0,Urea
97,36,60,43,Sandy,Millets,15,0,41,DAP
98,29,58,57,Black,Sugarcane,12,0,10,20-20

In [6]:
print("SHAPE : ",df.shape)
df.info()

SHAPE :  (99, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temparature  99 non-null     int64
 1   Humidity     99 non-null     int64
 2   Moisture     99 non-null     int64
 3   Soil_Type    99 non-null     object
 4   Crop_Type    99 non-null     object
 5   Nitrogen     99 non-null     int64
 6   Potassium    99 non-null     int64
 7   Phosphorous  99 non-null     int64
 8   Fertilizer   99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

In [7]:
df.describe()

       Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

In [8]:
df["Fertilizer"].value_counts()

Urea        22
DAP         18
28-28       17
14-35-14    14
20-20       14
17-17-17     7
10-26-26     7
Name: Fertilizer, dtype: int64

In [9]:
# list of all numerical variables in dataset
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']
print('Number of numerical variables: ', len(numerical_features), numerical_features)

# list of all discrete variables in dataset
discrete_features=[feature for feature in numerical_features if len(df[feature].unique())<25]
print('Number of Discrete variables: ', len(discrete_features), discrete_features)

# list of all continuous variables in dataset
continuous_features=[feature for feature in numerical_features if feature not in discrete_features]
print('Number of Continuous variables: ', len(continuous_features), continuous_features)

# list of all categorical variables in dataset
categorical_features=[feature for feature in df.columns if df[feature].dtypes=='O']
print('Number of categorical variables: ', len(categorical_features), categorical_features)

Number of numerical variables:  6 ['Temparature', 'Humidity ', 'Moisture', 'Nitrogen', 'Potassium', 'Phosphorous']
Number of Discrete variables:  4 ['Temparature', 'Humidity ', 'Nitrogen', 'Potassium']
Number of Continuous variables:  2 ['Moisture', 'Phosphorous']
Number of categorical variables:  3 ['Soil_Type', 'Crop_Type', 'Fertilizer']

In [10]:
# Find the Cardinality i.e number of categories in each categorical feature
for feature in categorical_features:
    if feature=='Fertilizer': 
      pass
    print('The feature is {} and no. of categories are {}'.format(feature,len(df[feature].unique())))

The feature is Soil_Type and no. of categories are 5
The feature is Crop_Type and no. of categories are 11
The feature is Fertilizer and no. of categories are 7

# ONE-HOT ENCODING OF CATEGORIAL VALUES

In [11]:
# list of categorical features in dataset
categorical_features=[feature for feature in df.columns if df[feature].dtype=='O']

# Remove the Target variable.
categorical_features.remove('Fertilizer')

# encode categorical features
new_encoded_columns = pd.get_dummies(df[categorical_features])

# Concatinating with original dataframe
df = pd.concat([df,new_encoded_columns],axis="columns")

# dropping the categorical variables since they are redundant now.
df = df.drop(categorical_features,axis="columns")
     

df.head(10)

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Fertilizer,Soil_Type_Black,Soil_Type_Clayey,Soil_Type_Loamy,...,Crop_Type_Cotton,Crop_Type_Ground Nuts,Crop_Type_Maize,Crop_Type_Millets,Crop_Type_Oil seeds,Crop_Type_Paddy,Crop_Type_Pulses,Crop_Type_Sugarcane,Crop_Type_Tobacco,Crop_Type_Wheat
0,26,52,38,37,0,0,Urea,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,29,52,45,12,0,36,DAP,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,14-35-14,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,32,62,34,22,0,20,28-28,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,Urea,0,1,0,...,0,0,0,0,0,1,0,0,0,0
5,26,52,35,12,10,13,17-17-17,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25,50,64,9,0,10,20-20,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,33,64,50,41,0,0,Urea,0,0,1,...,0,0,0,0,0,0,0,0,0,1
8,30,60,42,21,0,18,28-28,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,29,58,33,9,7,30,14-35-14,1,0,0,...,0,0,0,0,1,0,0,0,0,0

# TRAINING THE MODEL

In [12]:
x = df.drop("Fertilizer",axis=1)
x.head(10)

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil_Type_Black,Soil_Type_Clayey,Soil_Type_Loamy,Soil_Type_Red,...,Crop_Type_Cotton,Crop_Type_Ground Nuts,Crop_Type_Maize,Crop_Type_Millets,Crop_Type_Oil seeds,Crop_Type_Paddy,Crop_Type_Pulses,Crop_Type_Sugarcane,Crop_Type_Tobacco,Crop_Type_Wheat
0,26,52,38,37,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,29,52,45,12,0,36,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,32,62,34,22,0,20,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
5,26,52,35,12,10,13,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,25,50,64,9,0,10,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
7,33,64,50,41,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
8,30,60,42,21,0,18,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9,29,58,33,9,7,30,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
print("Columns : ",x.columns)
x.info()

Columns :  Index(['Temparature', 'Humidity ', 'Moisture', 'Nitrogen', 'Potassium',
       'Phosphorous', 'Soil_Type_Black', 'Soil_Type_Clayey', 'Soil_Type_Loamy',
       'Soil_Type_Red', 'Soil_Type_Sandy', 'Crop_Type_Barley',
       'Crop_Type_Cotton', 'Crop_Type_Ground Nuts', 'Crop_Type_Maize',
       'Crop_Type_Millets', 'Crop_Type_Oil seeds', 'Crop_Type_Paddy',
       'Crop_Type_Pulses', 'Crop_Type_Sugarcane', 'Crop_Type_Tobacco',
       'Crop_Type_Wheat'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Temparature            99 non-null     int64
 1   Humidity               99 non-null     int64
 2   Moisture               99 non-null     int64
 3   Nitrogen               99 non-null     int64
 4   Potassium              99 non-null     int64
 5   Phosphorous            99 non-null     int64
 6   Soil_Type_Black        99 non-null     uint8
 7   Soil_Type_Clayey       99 non-null     uint8
 8   Soil_Type_Loamy        99 non-null     uint8
 9   Soil_Type_Red          99 non-null     uint8
 10  Soil_Type_Sandy        99 non-null     uint8
 11  Crop_Type_Barley       99 non-null     uint8
 12  Crop_Type_Cotton       99 non-null     uint8
 13  Crop_Type_Ground Nuts  99 non-null     uint8
 14  Crop_Type_Maize        99 non-null     uint8
 15  Crop_Type_Millets      99 non-null     uint8
 16  Crop_Type_Oil seeds    99 non-null     uint8
 17  Crop_Type_Paddy        99 non-null     uint8
 18  Crop_Type_Pulses       99 non-null     uint8
 19  Crop_Type_Sugarcane    99 non-null     uint8
 20  Crop_Type_Tobacco      99 non-null     uint8
 21  Crop_Type_Wheat        99 non-null     uint8
dtypes: int64(6), uint8(16)
memory usage: 6.3 KB

In [14]:
 y = df["Fertilizer"]
 y.head(10)

0        Urea
1         DAP
2    14-35-14
3       28-28
4        Urea
5    17-17-17
6       20-20
7        Urea
8       28-28
9    14-35-14
Name: Fertilizer, dtype: object

# # DATA SPLITTING

In [15]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=0)

In [16]:
x_train.values[:10]

array([[34, 65, 60, 35,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  1,  0,  0],
       [34, 65, 64, 24,  0, 20,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [32, 62, 34, 22,  0, 20,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0],
       [31, 62, 32, 39,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  1,  0],
       [38, 70, 48,  8,  8, 28,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  1],
       [30, 60, 29, 41,  0,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,  0,
         0,  0,  0,  0,  0,  0],
       [25, 50, 64,  9,  0, 10,  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [29, 58, 57, 12,  0, 10,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  1,  0,  0],
       [29, 58, 65, 14,  0, 35,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [30, 60, 47, 22,  0, 21,  0,  0,  0,  0,  1,  0,  0,  0,  1,  0,
         0,  0,  0,  0,  0,  0]], dtype=int64)

In [17]:
y_train.values[:10]

array(['Urea', '28-28', '28-28', 'Urea', '14-35-14', 'Urea', '20-20',
       '20-20', 'DAP', '28-28'], dtype=object)

In [18]:
df.size

2277

# Random Forest Classifier

In [20]:
# Initialzing empty lists to append all model's name and corresponding name
acc = []
model = []

In [24]:
from sklearn.metrics import classification_report
from sklearn import metrics
from pandas.core.common import random_state
#Random Forest

from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(x_train,y_train)

predicted_values = RF.predict(x_test)
x=metrics.accuracy_score(y_test,predicted_values)
acc.append(x)
model.append('RF')
print("RF's Accuracy is: ",x)

print(classification_report(y_test,predicted_values))

RF's Accuracy is:  1.0
              precision    recall  f1-score   support

    10-26-26       1.00      1.00      1.00         3
    14-35-14       1.00      1.00      1.00         4
    17-17-17       1.00      1.00      1.00         1
       20-20       1.00      1.00      1.00         1
       28-28       1.00      1.00      1.00         5
         DAP       1.00      1.00      1.00         2
        Urea       1.00      1.00      1.00         4

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

In [26]:
# Make Prediction
output = RF.predict([[27, 54, 28, 13,  0, 40,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
  1,  0,  0  ,0]])
print("Predicted Fertilizer : ",output[0])

Predicted Fertilizer :  DAP

# Input Function

In [27]:
import numpy as np

def get_input(x):

    # Index values of each variable in x
    x_structure = {
        "Temparature": 0, "Humidity": 1, "Moisture": 2, "Nitrogen": 3,
        "Potassium": 4, "Phosphorous": 5, "Black": 6,  "Clayey": 7, "Loamy": 8,
        "Red": 9, "Sandy": 10, "Barley": 11, "Cotton": 12, "Ground Nuts": 13, "Maize": 14,
        "Millets": 15, "Oil seeds": 16, "Paddy": 17, "Pulses": 18, "Sugarcane": 19, "Tobacco": 20,
        "Wheat": 21
    }

    output = np.zeros(len(x_structure))
    output[0] = x[0]
    output[1] = x[1]
    output[2] = x[2]
    output[3] = x[3]
    output[4] = x[4]
    output[5] = x[5]
    output[x_structure[x[6]]] = 1
    output[x_structure[x[7]]] = 1
    return output


input_x = get_input([27, 54, 28	, 13	, 0	, 40, "Clayey", "Pulses"])
input_x

array([27., 54., 28., 13.,  0., 40.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.])

In [29]:
# Make Prediction
x1 = get_input([27, 54, 28	, 13	, 0	, 40, "Clayey", "Pulses"])

y1 = RF.predict([x1])
print("Predicted Fertilizer : ",y1[0])

Predicted Fertilizer :  DAP